@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese');
html {
    height: 100%;
    width: 100%
}
html,
body {
    font-family: 'Open Sans', sans-serviceif;
    margin: 0;
    padding: 0;
}
::selection {
  color: #fff;
  background: #000;
}
a,button,div,em,h1,h2,h3,h4,h5,h6,input,p,span {
  -webkit-font-smoothing: antialiased;
}

ul,ol{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 100%;
        padding-left: 48px;
        padding-right: 48px;
    }
}
@-webkit-keyframes loaderAnimation {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@keyframes loaderAnimation {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }

  100% {
      opacity: .7
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }

  100% {
      opacity: .7
  }
}
:root {
    --fa-font-light:normal 300 1em/1 "Font Awesome 6 Pro";
    --fa-font-regular:normal 400 1em/1 "Font Awesome 6 Pro";
    --fa-font-solid:normal 900 1em/1 "Font Awesome 6 Pro";
    --fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";
  }
  
  @font-face {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url(../fonts/fa-light-300.woff2) format("woff2"), url(../fonts/fa-light-300.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../fonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fa-regular-400.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.ttf) format("truetype");
  }
  .fal, .fa-light {
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
  }
  .far,.fa-regular {
    font-family: "Font Awesome 6 Pro";
    font-weight: 400
  }
  .fas,.fa-solid {
    font-family: "Font Awesome 6 Pro";
    font-weight: 900
  }
  .fab,.fa-brands {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400
  }
  .margin-bottom-20{
    margin-bottom: 20px;
  }