@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese');
html {
    height: 100%;
    width: 100%
}
html,
body {
    font-family: 'Open Sans', sans-serviceif;
    margin: 0;
    padding: 0;
}
ul,ol{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 100%;
        padding-left: 48px;
        padding-right: 48px;
    }
}