body{
    background: #fff;
    color: #000;
    font-family: "Open Sans",Helvetica,Arial;
    line-height: 1.6;
    letter-spacing: .5px;
    font-size: 16px;
    font-size: 16px;
    &.search_active{
        .header-search {
            width: 40%;
        }
        .header-menu-list {
            transform: translateY(-100vh);
        }
    }
    &.header-scroll-open {
        .header {
          background: #fff;
        }
      
        .header-nav-list li a {
          color: #000;
        }
      
        .header-search-toggle {
          background: url(../img/search-black.svg?v=2666) center center no-repeat transparent;
        }
        .header-search-wrapper{
            &.active{
                border-bottom: solid 1px #000;
            }
            input{
                color: #333 !important;
                &::-webkit-input-placeholder {
                    color: #333;
                }
                &::-moz-placeholder {
                    color: #333 !important;
                }
                &:-ms-input-placeholder {
                    color: #333 !important;
                }
                &:-moz-placeholder {
                    color: #333 !important;
                }
            }
        }
      }
      
}
.wrapper {
    position: relative;
}
img{
    max-width: 100%;
}