body{
    background: #fff;
    color: #000;
    font-family: "Open Sans",Helvetica,Arial;
    line-height: 1.6;
    letter-spacing: .5px;
    font-size: 16px;
    font-size: 16px;
    &.search_active{
        .header-search {
            width: 47%;
        }
        .header-menu-list {
            transform: translateY(-100vh);
        }
    }
    &.header-scroll-open {
        .header {
          background: #fff;
          .header-nav-list li a {
            color: #000;
          }
        
          .header-search-toggle {
            background: url(../img/search-black.svg?v=2666) center center no-repeat transparent;
          }
          .header-search-wrapper{
              &.active{
                  border-bottom: solid 1px #000;
              }
              input{
                  color: #333 !important;
                  &::-webkit-input-placeholder {
                      color: #333;
                  }
                  &::-moz-placeholder {
                      color: #333 !important;
                  }
                  &:-ms-input-placeholder {
                      color: #333 !important;
                  }
                  &:-moz-placeholder {
                      color: #333 !important;
                  }
              }
          }
          .logo img{
              &:nth-child(2) {
                  display: block;
              }
              &:nth-child(1) {
                  display: none;
              }
          }
          &:hover{
            background: #000;
            .logo img{
                &:nth-child(2) {
                   display: none;
                }
                &:nth-child(1) {
                    display: block;
                }
            }
            
              .header-nav-list li a {
                color: #fff;
              }
            
              .header-search-toggle {
                background: url(../img/search-white.svg?v=2666) center center no-repeat transparent;
              }
              .header-search-wrapper{
                  &.active{
                      border-bottom: solid 1px #fff;
                  }
                  input{
                      color: #fff !important;
                      &::-webkit-input-placeholder {
                          color: #fff;
                      }
                      &::-moz-placeholder {
                          color: #fff !important;
                      }
                      &:-ms-input-placeholder {
                          color: #fff !important;
                      }
                      &:-moz-placeholder {
                          color: #fff !important;
                      }
                  }
              }
        }
        } 
      }
      
}
.wrapper {
    position: relative;
}
img{
    max-width: 100%;
}