.block-title h2 {
    padding: 10px 30px 20px;
    margin-bottom: 0;
    font-size: 16px;
    @media screen and (min-width: 768px){
        padding: 50px 0 20px;
        font-size: 21px;
    }
}
.block-news{
    .container{
        @media screen and (min-width: 768px){
            max-width: 1466px;
            padding: 0 31px;
        }
        @media screen and (max-width: 767px){
            padding: 0;
        }
    }
    .block-news-content {
        margin: 0 -19px;
    }
    
    .slick-dots{
        display: flex;
        padding: 20px 0 40px;
        justify-content: center;
        z-index: 200;
        >li {
            width: 28px;
            height: 20px;
            display: inline-block;
            margin: 0 3px;
            padding: 0;
            opacity: .3;
            transition: opacity .5s;
            position: relative;
            line-height: 1;
            font-size: 14px;
            text-align: center;
           
           svg.spinner {
                x: 0px;
                y: 0px;
                .outer {
                    fill: transparent;
                    stroke: #000;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-dasharray: 125.6;
                    -webkit-transform-origin: 20px 20px 0;
                    transform-origin: 20px 20px 0;
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    opacity: 0;
                    -webkit-transition: opacity .4s linear;
                    transition: opacity .4s linear;
                  }
              
                  .inner {
                    stroke: transparent;
                    fill: #000;
                  }
            }
            &.slick-active {
                opacity: 1;
                svg.spinner {
                    .outer {
                        opacity: 1;
                        -webkit-transition: opacity .4s linear;
                        transition: opacity .4s linear;
                        -webkit-animation: spinner var(--duration) linear 1;
                        animation: spinner var(--duration) linear 1;
                        
                    }
                    .inner {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                opacity: .8
            }
        }
    }
}

.slick-news-list{
    
    .news-list-item{
        @media screen and (min-width: 768px){
            padding: 0 19px;
        }
        .news-list-content{
            width: 100%;
            background: #000;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            text-decoration: none;
            &:hover, &:focus {
                color: #23527c;
                text-decoration: underline;
              }
            .news-background-colour{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 50;
                transition: -webkit-filter 1s;
                transition: filter 1s;
                transition: filter 1s,-webkit-filter 1s;
                -webkit-filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                background-color: #282d33;
            }
            .news-content-image{
                position: relative;
                z-index: 100;
                &::before {
                    display: block;
                    content: '';
                    width: 100%;
                    padding-top: 56.2711864407%;
                    @media screen and (min-width: 768px) {
                        padding-top: 56.2580645161%
                    }
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    user-select: none;
                    width: 100%;
                }
            }
            .news-content{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                padding: 20px 0;
                margin: auto 30px;
                z-index: 100;
                @media screen and (min-width: 768px) {
                    padding: 30px 0;
                }
                h2{
                    color: #fff;
                    font-size: 16px;
                    margin: 0;
                    @media screen and (min-width: 768px) {
                        font-size:19px;
                        margin-bottom: 0;
                        line-height: 24px
                    }
                }
            }
        }
    }
}