.block-title h2 {
    padding: 10px 30px 20px;
    margin-bottom: 0;
    font-size: 16px;
    @media screen and (min-width: 768px){
        padding: 50px 0 20px;
        font-size: 21px;
    }
}
.block-news{
    .container{
        @media screen and (min-width: 768px){
            max-width: 1466px;
            padding: 0 31px;
        }
        @media screen and (max-width: 767px){
            padding: 0;
        }
    }
    @media screen and (min-width: 768px){
        .block-news-content {
            margin: 0 -19px;
        }
    }
    
    .slick-dots{
        display: flex;
        padding: 20px 0 40px;
        justify-content: center;
        z-index: 200;
        >li {
            width: 28px;
            height: 20px;
            display: inline-block;
            margin: 0 3px;
            padding: 0;
            opacity: .3;
            transition: opacity .5s;
            position: relative;
            line-height: 1;
            font-size: 14px;
            text-align: center;
           
           svg.spinner {
                x: 0px;
                y: 0px;
                .outer {
                    fill: transparent;
                    stroke: #000;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-dasharray: 125.6;
                    -webkit-transform-origin: 20px 20px 0;
                    transform-origin: 20px 20px 0;
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    opacity: 0;
                    -webkit-transition: opacity .4s linear;
                    transition: opacity .4s linear;
                  }
              
                  .inner {
                    stroke: transparent;
                    fill: #000;
                  }
            }
            &.slick-active {
                opacity: 1;
                svg.spinner {
                    .outer {
                        opacity: 1;
                        -webkit-transition: opacity .4s linear;
                        transition: opacity .4s linear;
                        -webkit-animation: spinner var(--duration) linear 1;
                        animation: spinner var(--duration) linear 1;
                        
                    }
                    .inner {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                opacity: .8
            }
        }
    }
}

.slick-news-list{
    
    .news-list-item{
        @media screen and (min-width: 768px){
            padding: 0 19px;
        }
        .news-list-content{
            width: 100%;
            background: #000;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            text-decoration: none;
            &:hover, &:focus {
                color: #23527c;
                text-decoration: underline;
              }
            .news-background-colour{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 50;
                transition: -webkit-filter 1s;
                transition: filter 1s;
                transition: filter 1s,-webkit-filter 1s;
                -webkit-filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                background-color: #282d33;
            }
            .news-content-image{
                position: relative;
                z-index: 100;
                &::before {
                    display: block;
                    content: '';
                    width: 100%;
                    padding-top: 56.2711864407%;
                    @media screen and (min-width: 768px) {
                        padding-top: 56.2580645161%
                    }
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    user-select: none;
                    width: 100%;
                }
            }
            .news-content{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                padding: 20px 0;
                margin: auto 30px;
                z-index: 100;
                @media screen and (min-width: 768px) {
                    padding: 30px 0;
                }
                h2{
                    color: #fff;
                    font-size: 16px;
                    margin: 0;
                    @media screen and (min-width: 768px) {
                        font-size:19px;
                        margin-bottom: 0;
                        line-height: 24px
                    }
                }
            }
        }
    }
}
.news-page {
    padding-top: 90px;
    margin-bottom: 40px;
    @media screen and (min-width: 1024px){
        padding-top: 120px;
        min-height: 105px;
        margin-bottom: 80px;
    }
    .nav-fixed.fixed {
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.3);
        height: auto;
        background: #000;
        position: fixed;
        z-index: 9999;
        width: 100%;
        top: 0;
      
        .news-tab-wrap {
          height: auto;
          padding: 0;
      
          .fp-st-list li a {
            text-decoration: none;
            padding-bottom: 32px;
            padding-top: 32px;
      
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    .news-tab-wrap {
        position: relative;
        width: 100%;
        z-index: 1;
        height: 104px;
        padding-top: 10px;
        text-align: center;
        transition: height .4ms;
        @media screen and (min-width: 1170px){
            width: 45%;
            margin: 0 auto;
        }
        .fp-st-list {
            list-style: none;
            display: flex;
            position: relative;
            z-index: 1;
            justify-content: space-between;
            li{
                font-size: 14px;
                flex: 1 auto;
                justify-content: space-between;
                display: flex;
                line-height: 1;
                padding-left: 0;
                position: static;
                a{
                    color: #fff;
                    display: block;
                    letter-spacing: .5px;
                    font-weight: 400;
                    opacity: .7;
                    padding: 20px 0;
                    text-align: center;
                    width: 100%;
                    transition: opacity .1s ease-in-out;
                    position: relative;
                    &.selected{
                        font-weight: 600;
                        opacity: 1;
                        &:before {
                            content: '';
                            background: #111;
                            width: 100%;
                            height: 4px;
                            display: block;
                            position: absolute;
                            bottom: 0;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

    .fp-news-grid {
        @media screen and (min-width: 768px){
            margin-top: 40px;
            min-height: 300px;
        }
        .fp-grid {
            justify-content: center;
           .fp-grid-item {
                width: 100%;
                margin-right: 0;
                max-height: inherit;
                padding-bottom: 60px;
                
                @media screen and (min-width: 768px){
                    padding-bottom: 130px;
                }
                &:after {
                  display: none;
                }
                .fp-grid-item-single-wrap{
                    @media screen and (min-width: 1024px){
                        padding: 0 48px 3px;
                        max-width: 1366px;
                        margin: 0 auto;
                    }
                }
                .fp-ng-content-wrap{
                    @media screen and (min-width: 768px){
                        padding-bottom: 30px;
                    }  
                    .fp-ng-title {
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: .5px;
                        line-height: 24px;
                        margin-bottom: 16px;
                        display: block;
                        font-weight: 600;
                        @media screen and (min-width: 768px){
                            display: inline-block;
                            margin: 0 4% 0 0;
                            vertical-align: top;
                            width: 32%;
                            font-size: 21px;
                            line-height: 28px;
                        }
                    }
                    .fp-ng-content-copy{
                        padding-bottom: 40px; 
                        @media screen and (min-width: 768px){
                            display: inline-block;
                            width: 60%;
                        }
                    }
                    .fp-ng-content-copy-wrap {
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: .5px;
                        line-height: 26px;
                        margin-bottom: 30px;
                        &.fp-ng-delimited::after {
                            content: '...';
                            display: inline-block;
                        }
                    }
                    &.fp-ng-content-link {
                        opacity: .7;
                        transition: opacity .3s;
                        font-weight: 600;
                    }
                }
                a {
                    color: #333;
                    text-decoration: none !important;
                }
                .fp-ng-image-link {
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    @media screen and (min-width: 768px){
                        display: block;
                        max-height: 714px;
                    }
                    .fp-dominant-colour {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        -webkit-filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                        filter: contrast(100%) brightness(100%) saturate(.3) sepia(5%);
                        background-color: #757A7B;
                    }
                    >.fp-content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        overflow: hidden;
                        img {
                            transition: opacity 1.5s,-webkit-transform 1.5s ease-out;
                            transition: transform 1.5s ease-out,opacity 1.5s;
                            transition: transform 1.5s ease-out,opacity 1.5s,-webkit-transform 1.5s ease-out;
                            will-change: transform;
                            width: 100%;
                            height: auto;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            -webkit-transform: translate(-50%, -50%) scale(1);
                            -ms-transform: translate(-50%, -50%) scale(1);
                            transform: translate(-50%, -50%) scale(1);
                            &.is-blurred {
                                opacity: 0;
                            }
                        }
                    }
                    >.fp-spacer {
                        width: 100%;
                        padding-top: 56.2408223201%;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            overflow: hidden;
                            z-index: 75;
                            -webkit-animation: loaderAnimation .8s infinite linear;
                            animation: loaderAnimation .8s infinite linear;
                            height: 30px;
                            left: calc(50% - 15px);
                            top: calc(50% - 15px);
                            width: 30px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30'%3E %3Ccircle cx='15' cy='15' r='14' fill='none' stroke='%23FFFFFF' stroke-opacity='0.3' stroke-width='1px' /%3E %3Ccircle cx='15' cy='15' r='14' fill='none' stroke='%23FFFFFF' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 47.123'/%3E %3C/svg%3E")
                        }
                    }
                }
                &.is-loaded{
                    .fp-ng-image-link > .fp-content img{
                        opacity: 1;
                    }
                    .fp-spacer::after {
                        display: none;
                    }
                }
            }
              
        }
    }
