.project-page {
    overflow: hidden;
    padding-top: 74px;
    @media screen and (min-width: 1024px){
        padding-top: 78px;
    }
    > .container{
        padding: 0;
    }
    .project-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #fff;
        align-items: flex-start;
        padding: 30px;
        @media screen and (min-width: 768px){
            align-items: center;
            padding: 30px 48px;
        }
        h1{
            margin-bottom: 20px;
            font-size: 21px;
            @media screen and (min-width: 768px){
                margin-bottom: 0;
            }
        }
        .project-button-all {
            display: inline-block;
            font-family: "Open Sans",Helvetica,Arial;
            text-align: center;
            font-size: 13px;
            background-color: #ebebeb;
            border: none;
            border-radius: 20px;
            color: #000;
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 19px;
            padding: 7px 18px;
            margin: 0;
            text-decoration: none;
            transition: background-color .3s ease-in-out,color .3s ease-in-out;
        }
    }
    .project-bar-item {
        .project-trigger {
          font-family: "Open Sans",Helvetica,Arial;
          -webkit-appearance: none;
          border: 0;
          padding: 0;
          display: inline;
          background: 0 0;
          cursor: pointer;
        }
      
        margin-right: 60px;
        cursor: pointer;
      
        .project-bar-button-text {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: .5px;
          line-height: 24px;
          display: inline-block;
          @media screen and (min-width: 768px){
            font-size: 21px;
            line-height: 28px;
            margin-bottom: 0;
          }
        }
      
        .project-trigger > .arrow-down {
          background: url(../img/chevron-down-black.svg?v=2666) no-repeat;
          background-size: 100%;
          display: inline-block;
          width: 15px;
          height: 9px;
          margin-left: 10px;
          position: relative;
          bottom: 2px;
        }
      }
      .project-filter-drawer {
        background: #fff;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        height: 0;
        overflow: hidden;
        .project-filter-options-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 10px 48px 10px;
            flex-wrap: wrap;
          
            li {
              flex: 0 0 25%;
              font-weight: 300;
              font-size: 14px;
              line-height: 1;
              padding-left: 0;
              position: static;
              margin: 15px auto 10px 0;
              @media (max-width: 767px){
                flex: 0 0 calc(100%);
              }
              .project-navl-link {
                font-weight: 400;
                opacity: .85;
                transition: opacity .1s ease-in-out;
                line-height: 30px;
              }
                &.selected {
                    a{
                        font-weight: 600;
                        opacity: 1;
                    }
                }
            }
          }
      }  
      .project-list-box{
        position: relative;
        .project-bar {
            border-bottom: 1px solid #e3e3e3;
        }
      }
}