.slideshow-box {
    position: relative;
    .slick-slideshow {
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        background: #000;
        &:hover .slick-arrow {
          opacity: 1 !important;
        }
        .slick-list {
          height: 100%;
        }
      
        .slick-slide {
         img{
          transition-delay: 1s
         }
          > div{
            height: 100vh;
            z-index: 15;
        
            a {
              display: block;
              width: 100%;
              height: 100%;
              position: relative;
              overflow: hidden;
        
              &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 45%;
                pointer-events: none;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.4) 30%, transparent 80%);
                opacity: 0.7;
              }
        
              img {
                width: 100%;
              }
            }
          }
        }
      }
    .slick-arrow {
      height: 30%;
      width: 12.5%;
      position: absolute;
      top: 35%;
      z-index: 10;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-align-items: center;
      align-items: center;
      transition: opacity .3s;
      opacity: 0;
      background: transparent;
      border: none;
      font-size: 0;
      outline: none;
      &.slick-prev::before{
          content: "";
          border: 0;
          padding: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background: url(../img/arrow-back-carousel.svg?v=2666) top left no-repeat transparent;
          background-position: 48px center;
          background-size: 18px 30px;
          overflow: hidden;
          text-indent: 60px;
          cursor: pointer;
          font-size: 0;
          left: 0;
          top: 0;
        }
      &.slick-next::before{
        content: "";
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/arrow-forward-carousel.svg?v=2666) top left no-repeat transparent;
        background-position: 48px center;
        background-size: 18px 30px;
        overflow: hidden;
        text-indent: 60px;
        cursor: pointer;
        font-size: 0;
        left: 0;
        top: 0;
        background-position-x: calc(100% - 48px)
      }
    }
  
    .slick-prev {
      left: 0;
    }
  
    .slick-next {
      right: 0;
    }
    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 43px;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        z-index: 200;
        @media screen and (min-width: 768px) {
            bottom: 53px;
        }
        svg.spinner {
          x: 0px;
          y: 0px;
      
          .outer {
            fill: transparent;
            stroke: #fff;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-dasharray: 125.6;
            -webkit-transform-origin: 20px 20px 0;
            transform-origin: 20px 20px 0;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            opacity: 0;
            -webkit-transition: opacity .4s linear;
            transition: opacity .4s linear;
          }
      
          .inner {
            stroke: transparent;
            fill: #fff;
          }
        }
        li {
            position: relative;
            width: 28px;
            height: 20px;
            display: inline-block;
            margin: 0 3px;
            padding: 0;
            opacity: .3;
            transition: opacity .5s;
            cursor: pointer;
            line-height: 1;
            &.slick-active{
                opacity: 1;
                .outer {
                    opacity: 1;
                    -webkit-transition: opacity .4s linear;
                    transition: opacity .4s linear;
                    -webkit-animation: spinner var(--duration) linear 1;
                    animation: spinner var(--duration) linear 1;
                    
                  }
                  .inner {
                    opacity: 1;
                }
            }
        }
      }
      
      @-webkit-keyframes spinner {
        0% {
          stroke-dashoffset: 125.6;
        }
      
        to {
          stroke-dashoffset: 0;
        }
      }
      
      @keyframes spinner {
        0% {
          stroke-dashoffset: 125.6;
        }
      
        to {
          stroke-dashoffset: 0;
        }
      }
  }
  