.slideshow-box {
    position: relative;
    @media screen and (max-width: 992px) {
      overflow: hidden;
    }
    
    .slide_labels {
      width: 100%;
      z-index: 100;
      position: absolute;
      bottom: 120px;
      pointer-events: none;
      
      &::after{
        content: "";
        clear: both;
        display: block;
      }
      @media screen and (min-width: 768px) {
        bottom: 76px;
      }
      .slide_labels_titles {
        list-style: none;
        padding: 0;
        position: relative;
        height: 100%;
        @media screen and (min-width: 768px) {
          margin:0 0 0 48px
        }
        li {
          line-height: 1;
          padding-left: 0;
          position: absolute;
          bottom: 0;
          left: 50%;
          color: #fff;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          text-align: center;
          will-change: transform;
          width: calc(100% - 50px);
          padding-bottom: 2px;
          pointer-events:none;
          opacity: 0;
          &.active{
            opacity: 1;
          }
          @media screen and (min-width: 768px) {
            align-items: flex-start;
            text-align: left;
            left: 0;
            width: auto;
            letter-spacing: .5px
          }
          .slideshow_news {
            padding-top: 90px;
            margin-bottom: 0;
            position: relative;
            left: -50%;
            @media screen and (min-width: 1024px) {
              padding-top:120px;
              min-height: 105px;
              margin-bottom: 0
            }
            @media screen and (min-width: 768px) {
             left: 0;
            }
            .slideshow_title {
              color: #fff;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              letter-spacing: .5px;
              text-shadow: 0.5px 0.1px 2px rgba(0,0,0,.2);
          }
          
          .slideshow_body {
              font-weight: 600;
              display: block;
              margin-bottom: 0;
              margin-top: 5px;
              color: #fff;
              letter-spacing: .5px;
              text-shadow: 0.5px 0.1px 2px rgba(0,0,0,.2);
              font-size: 19px;
              line-height: 32px;
          }
        }
      }
    }
  }
    .slick-slideshow {
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        background: #000;
        transition: background-color .6s;
        &:hover .slick-arrow {
          opacity: 1 !important;
        }
        .slick-list {
          height: 100%;
        }
      
        .slick-slide {
          height: 100vh;
          z-index: 15;
          transition-property: opacity,transform;
          transition-duration: 1.8s;
          transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
         img{
          transition: .15s;
          width: 100%;
          height: 100%;
          object-fit: cover;
         }
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
    
          &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 45%;
            pointer-events: none;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.4) 30%, transparent 80%);
            opacity: 0.7;
          }
          
          .fp-video {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            -webkit-filter: saturate(100%);
            filter: saturate(100%);
            -webkit-transition: opacity .2s;
            transition: opacity .2s;
            opacity: 0;
            width: 100vw;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-transition-delay: 1s;
            transition-delay: 1s;
            &.playing {
              opacity: 1;
            }
          }
          img {
            width: 100%;
          }
        }
      }
    }
   
    .slick-arrow {
      height: 30%;
      width: 12.5%;
      position: absolute;
      top: 35%;
      z-index: 10;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-align-items: center;
      align-items: center;
      transition: opacity .3s;
      opacity: 0;
      background: transparent;
      border: none;
      font-size: 0;
      outline: none;
      @media screen and (max-width: 992px) {
        display: none !important;
      }
      &.slick-prev::before{
          content: "";
          border: 0;
          padding: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background: url(../img/arrow-back-carousel.svg?v=2666) top left no-repeat transparent;
          background-position: 48px center;
          background-size: 18px 30px;
          overflow: hidden;
          text-indent: 60px;
          cursor: pointer;
          font-size: 0;
          left: 0;
          top: 0;
        }
      &.slick-next::before{
        content: "";
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/arrow-forward-carousel.svg?v=2666) top left no-repeat transparent;
        background-position: 48px center;
        background-size: 18px 30px;
        overflow: hidden;
        text-indent: 60px;
        cursor: pointer;
        font-size: 0;
        left: 0;
        top: 0;
        background-position-x: calc(100% - 48px)
      }
    }
  
    .slick-prev {
      left: 0;
    }
  
    .slick-next {
      right: 0;
    }
    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 43px;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        z-index: 200;
        @media screen and (min-width: 768px) {
            bottom: 53px;
        }
        svg.spinner {
          x: 0px;
          y: 0px;
      
          .outer {
            fill: transparent;
            stroke: #fff;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-dasharray: 125.6;
            -webkit-transform-origin: 20px 20px 0;
            transform-origin: 20px 20px 0;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            opacity: 0;
            -webkit-transition: opacity .4s linear;
            transition: opacity .4s linear;
          }
      
          .inner {
            stroke: transparent;
            fill: #fff;
          }
        }
        li {
            position: relative;
            width: 28px;
            height: 20px;
            display: inline-block;
            margin: 0 3px;
            padding: 0;
            opacity: .3;
            transition: opacity .5s;
            cursor: pointer;
            line-height: 1;
            &.slick-active{
                opacity: 1;
                .outer {
                    opacity: 1;
                    -webkit-transition: opacity .4s linear;
                    transition: opacity .4s linear;
                    -webkit-animation: spinner var(--duration) linear 1;
                    animation: spinner var(--duration) linear 1;
                    
                  }
                  .inner {
                    opacity: 1;
                }
            }
        }
      }
  }
  @-webkit-keyframes spinner {
    0% {
      stroke-dashoffset: 125.6;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes spinner {
    0% {
      stroke-dashoffset: 125.6;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  .arrow {
    background: rgba(255, 255, 255, 0.25);
    width: 40px;
    height: 80px;
    border-radius: 100px;
    position: absolute;
    bottom: calc(35% - 50px);
    z-index: 1;
    right: 1.5rem;
    cursor: pointer;
    @media (max-width: 1024px) {
      top: calc(50% - 50px);
    }
  
    &:before, &:after {
      content: "";
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      bottom: 4px;
    }
  
    &:before {
      width: 2px;
      height: 35px;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background: white;
    }
  
    &:after {
      width: 8px;
      height: 8px;
      border-bottom: 2px solid;
      border-left: 2px solid;
      top: 50px;
      left: 17px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-color: #fff;
    }
  
    &:hover {
      background: rgba(255, 255, 255, 0.4);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    @media (min-width: 1024px) {
      right: 3.5rem;
    }
    @media (min-width: 768px) {
      right: 45px;
    }
  }
