.studio-page {
    h2 {
        margin-top: 0;
        text-align: center;
        margin-bottom: 38px;
        a {
        color: #1a1a1a;
        text-decoration: none;
        background-color: #ebebeb;
        border-color: #ebebeb;
        display: inline-block;
        padding: 4px 20px;
        border-radius: 25px;
        font-size: 14px;
        transition: background-color .3s ease-in-out,color .3s ease-in-out;
    
        &:hover {
            background: #d9d9d9;
            color: #000;
        }
        }
    }

    .studio-personnel-img img {
        margin: auto;
        display: block;
    }
    .news-details-bg {
      margin-bottom: 0;
    }
  
    .studio-content {
      padding: 48px 0;
      .container{
            @media (min-width: 1024px) {
                max-width: 1170px;
            }
        }
    }
    .studio-personnel-img {
        margin-top: 50px;
    }
    .studio-text {
        text-align: center;
        @media (min-width: 1024px) {
            max-width: 650px;
            padding: 0 56px;
            text-align: justify;
        }
        margin: auto;
        p {
            margin-bottom: 16px;
            font-size: 15px;
            letter-spacing: 0;
        }
    }
    .studio-personnel,.studio-working,.studio-life {
        margin-bottom: 48px;
    }
    .studio-expert {
        h2 {
          color: #1a1a1a;
          text-decoration: none;
          background-color: #ebebeb;
          border-color: #ebebeb;
          display: inline-block;
          padding: 4px 20px;
          border-radius: 25px;
          font-size: 14px;
          transition: background-color .3s ease-in-out,color .3s ease-in-out;
        }
      
        text-align: center;
        margin-bottom: 48px;
      }
      
  }

  